<!-- views/login.ejs -->
<!DOCTYPE html>
<html>
<head>
    <link href="/style.css" rel="stylesheet">
  </head>
<body>
  <div class="container">

	<form action="/login" method="post"> 
		Username: <input type="text" name="name"><br><br>
		Password: <input type="password" name="password"><br><br>
		<input type="submit" value="Login">
	</form></div>
</body>

</html>
