<html>
<head>
    <title> Add Task </title>
    <link href="/style.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2>ToDo List</h2>
        <form action="addtask" method="POST">
            <input type="text" name="newtask" placeholder="add new task" required>
            <button> + </button><br><hr><br>            
        </form>
        <button><a href="/back">Back</a></button>
    </div>
</body>
</html>
